<div class="page">   
  <!-- Breadcrumbs -->
  <!-- main-container -->
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-12 wow bounceInUp animated">
          <div class="page-title">
            <h2>About Us</h2>
          </div>
          <div class="static-contain">
             <p>BlueArchStore is a e-commerce platform to "Discover Unique Hand crafted Products" including Handmade, Vintage, Ethnic, Organic, IT and Natural products. 
  <br><br>
  BlueArchStore is a beautiful assortment of diversity reflected in our Clothing, Food, Lifestyle, Language, Music, Books and other online digital art, etc. This diversity is so rich and diverse that an attempt to capture it on a single platform was never made. Touchsecurecraft is that sincere attempt by bunch of young insane guys and girls who think this is possible now with the Internet. These are the modern internet entrepreneurs.
  <br><br>
  Experience the exquisite craftsmanship from the new age of entrepreneurs. We sincerly hope for all our customers to have an amazing experience with our super fast deliveries and policies which are very much customer oriented. 
    </p>
          </div>
        </section>
        
      </div>
    </div>
  </div>
  <!--End main-container --> 

</div>