<div class="page"> 
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
    


      <div class="row">
        <% if params[:categories] %>
        <ul>
          <% @sub_categories.each do |sub_category| %>
            <li class="home"> <%= link_to sub_category.name, category_path(:sub_cats => sub_category.id) %><span>&mdash;›</span></li>
          <% end %>
        </ul>
        <% elsif params[:sub_cats] %>
        <ul>
        <% @sub_sub_categories.each do |sub_sub_category| %>
          <li class="home"> <%= link_to sub_sub_category.name, category_path(:child => sub_sub_category.id) %><span>&mdash;›</span></li>
        <% end %>
        </ul>
        <% end %>
      </div>

    </div>
  </div>
  <!-- End breadcrumbs --> 

  <!-- Two columns content -->
  <section class="main-container col2-left-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated">
          <div class="category-title">
            <h1>Product Listing</h1>
          </div>
          
          <% if @products.present? %>
          <div class="category-products">
            <ul class="products-grid">
              <% for product in @products  %>
              <% if product.images.present? %>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                <%= render :partial => 'carts/commons', :locals => {:product => product, width: '262', height: '262'} %>
              </li>
              <% end %>
              <% end %>

            </ul>
          </div>
          <% end %>
        </section>

        <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
          <div class="side-nav-categories">
            <div class="block-title"> Categories </div>
            <div class="box-content box-category">
              <ul id="magicat">
              <% Category.all.each do |category| %>
                <li class="level0- level0"> <span class="magicat-cat"><%= link_to category.name, category_path(:categories => category.id) %></span> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</div>
