<div class="page"> 
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
    


      <div class="row">
        <% if params[:categories] %>
        <ul>
          <% @sub_categories.each do |sub_category| %>
            <li class="home"> <%= link_to sub_category.name, category_path(:sub_cats => sub_category.id) %><span>&mdash;›</span></li>
          <% end %>
        </ul>
        <% elsif params[:sub_cats] %>
        <ul>
        <% @sub_sub_categories.each do |sub_sub_category| %>
          <li class="home"> <%= link_to sub_sub_category.name, category_path(:child => sub_sub_category.id) %><span>&mdash;›</span></li>
        <% end %>
        </ul>
        <% end %>
      </div>

    </div>
  </div>
  <!-- End breadcrumbs --> 

  <!-- Two columns content -->
  <section class="main-container col2-left-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated">
          <div class="category-title">
            <h1>Product Listing</h1>
          </div>
          
          <% if @products.present? %>
          <div class="category-products">
            <ul class="products-grid">
              <% for product in @products  %>
              <% if product.images.present? %>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                <%= render :partial => 'carts/commons', :locals => {:product => product, width: '262', height: '262'} %>
              </li>
              <% end %>
              <% end %>

            </ul>
          </div>
          <% end %>
        </section>

        <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">

          <div class="side-nav-categories">
            <div class="block-title"> Categories </div>
            <div class="box-content box-category">
              <ul id="magicat">
                <li class="level0- level0 open"> <span class="magicat-cat"><a href="#fashion.html"><span>Women</span></a></span>
                  <ul style="display: none;">
                    <li class="first level1- level1 open"> <span class="magicat-cat"><a href="#new-in.html"><span>New In</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#clothing.html"><span>Clothing</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#shoes.html"><span>shoes</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#bags.html"><span>Bags</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#watches.html"><span>Watches</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1 open"> <span class="magicat-cat"><a href="#formal-wear.html"><span>formal-wear</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#thorts-and-skirts.html"><span>Thorts &amp; Skirts</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#leggings-jeggings.html"><span>Leggings &amp; Jeggings</span></a></span> </li>
                        <li class="level2- level2 "> <span class="magicat-cat"><a href="#caps-scarves-stoles.html"><span>Caps,Scarves &amp; stoles</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#socks-stockings.html"><span>Socks &amp; Stockings</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1 open"> <span class="magicat-cat"><a href="#jackets-blazers.html"><span>jackets-blazers</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#sweaters.html"><span>Sweaters</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#sweat-shirts.html"><span>Sweat Shirts</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#look-leather.html"><span>Look Leather</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#denim.html"><span>Denim</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1  open"> <span class="magicat-cat"><a href="#lingerie-sleepwear.html"><span>lingerie-sleepwear</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#bridal-lingerie.html"><span>Bridal Lingerie</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#babydolls.html"><span>Babydolls</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#bustiers.html"><span>Bustiers</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#panties.html"><span>Panties</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1 open"> <span class="magicat-cat"><a href="#ethnic-wear.html"><span>ETHNIC WEAR</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#suits-sets.html"><span>Suits Sets</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#dress-material.html"><span>Dress Material</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#sweatshirts.html"><span>Sweatshirts</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#gloves.html"><span>Gloves</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1 open"> <span class="magicat-cat"><a href="#new-this-week.html"><span>New This Week</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#new-this-week/clothing.html"><span>Clothing</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#new-this-week/footwear.html"><span>Footwear</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#new-this-week/accessories.html"><span>Accessories</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#new-this-week/sandals.html"><span>Sandals</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1 open"> <span class="magicat-cat"><a href="#shop-by-size.html"><span>Shop By Size</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#beauty.html"><span>Beauty</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#hair-body-care.html"><span>Hair &amp; Body-Care</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#brand-stores.html"><span>Brand Stores</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#sisley.html"><span>Sisley</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="last level1- level1 open"> <span class="magicat-cat"><a href="#girls-apparel.html"><span>Girls Apparel</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#frocks.html"><span>Frocks</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#tops-t-shirts.html"><span>Tops &amp; T-shirts</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#bottomwear.html"><span>Bottomwear</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#sweaters.html"><span>Sweaters</span></a></span> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="level0- level0"> <span class="magicat-cat"><a href="#electronics.html"><span>Men</span></a></span> </li>
                <li class="level0- level0  shoes"> <span class="magicat-cat"><a href="#shoes.html"><span>Shoes</span></a></span> </li>
                <li class="level0- level0  watches open"> <span class="magicat-cat"><a href="#watches.html"><span>Watches</span></a></span>
                  <ul style="display: none;">
                    <li class="first level1- level1 open"> <span class="magicat-cat"><a href="#designers.html"><span>Designers</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#calvin-klein.html"><span>Calvin Klein</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#emporio-armani.html"><span>Emporio Armani</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#french-connection.html"><span>French Connection</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#hush-puppies.html"><span>Hush Puppies</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1 open"> <span class="magicat-cat"><a href="#style.html"><span>Style</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#alba.html"><span>Alba</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#kenneth-cole.html"><span>Kenneth Cole</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#morellato.html"><span>Morellato</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#timex-premium.html"><span>Timex Premium</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="level1- level1  open"> <span class="magicat-cat"><a href="#specification.html"><span>Specification</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#just-cavalli.html"><span>Just Cavalli</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#pierre-cardin.html"><span>Pierre Cardin</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#rotary.html"><span>Rotary</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#silitalia.html"><span>Silitalia</span></a></span> </li>
                      </ul>
                    </li>
                    <li class="last level1- level1  open"> <span class="magicat-cat"><a href="#most-popular-brands.html"><span>Most Popular Brands</span></a></span>
                      <ul style="display: none;">
                        <li class="first level2- level2"> <span class="magicat-cat"><a href="#most-popular-brands/citizen.html"><span>Citizen</span></a></span> </li>
                        <li class="level2- level2l"> <span class="magicat-cat"><a href="#most-popular-brands/diesel.html"><span>Diesel</span></a></span> </li>
                        <li class="level2- level2"> <span class="magicat-cat"><a href="#most-popular-brands/dkny.html"><span>DKNY</span></a></span> </li>
                        <li class="last level2- level2"> <span class="magicat-cat"><a href="#most-popular-brands/esprit.html"><span>Esprit</span></a></span> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="level0- level0 last"> <span class="magicat-cat"><a href="#furniture.html"><span>Furniture</span></a></span> </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</div>
