
<div class="page">
  <!-- Breadcrumbs -->
  <!-- main-container -->
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-12 wow bounceInUp animated">
          <div class="page-title">
          <center>  <h2>PRIVACY POLICY</h2></center><br/>
           <center>             <h2>BLUEARCH PAYMENTS, LLC
</h2></center><br/>

          </div>
          <div class="static-contain" style="text-align: justify; width: 65%; position: relative; left: 200px;">
            <p>


We at BlueArch Payments, LLC, are committed to protecting your privacy. This Privacy Policy explains our data processing practices and your options regarding the ways in which your personal data is used and is provided by BlueArch Payments, LLC, a New Jersey corporation with a principal place of business located at 525 Route 73 North Suite 104, Marlton, New Jersey  08053. If you have requests concerning your personal information or any questions please contact us info@bluearchpayments.com.

           <br><br>

If you have objections to the Privacy Policy, you should immediately discontinue use of the Web site and the Services offered by us.
<br/>

<p><b><u>Definitions</u></b></p>


<p>For purposes of this Privacy Policy references to "Services" shall mean any and all services offered by us, including but not limited to providing merchant services via the Web site   <a href='http://www.bluearchstore.com'><strong>www.bluearchstore.com</strong></a>   </p>
<br/>


<p>References to “us,” “we,” “our,” and/or “BlueArch” mean BlueArch Payments, LLC.</p>
<br/>

<p>References to the Web site” mean the Web site bearing the URL  <a href='http://www.bluearchstore.com'><strong>www.bluearchstore.com</strong></a> </p> <br/>


<p> References to “you,” and/or “User,” mean the User of the Web site and/or Services, including but not limited to individuals and/or companies as well as their officers, directors, employees, contractors, agents and/or any other user authorized to access a User’s Account.
</p> <br/>


<p><b><u>Agreement to be Bound </u></b> </p> <br/>

<p>The following Privacy Policy governs the collection and use of private information via the Web site and/or any Service(s). By accessing the Web site and/or otherwise using the Services you represent that you have read and understand the Privacy Policy and that you agree to be bound by thereby.
 </p> <br/>

<p> This Privacy Policy may be additionally subject to Terms of Service.</p> <br/>

<p><b><u>Modifications and Changes to Privacy Policy  </u></b></p> <br/>

<p> We may modify, add to, suspend or delete the Privacy Policy, in whole or in part, at our sole discretion at any time, with such modifications, additions or deletions being immediately effective upon their posting to the Web site. Your use and/or access of the Web site and/or Services after modification, addition or deletion of the Privacy Policy shall be deemed to constitute acceptance by you of the modification, addition or deletion.
</p> <br/>

<p><b><u> The Information We Collect</u></b></p> <br/>


<p>We collect both personally-identifiable information and non-personally-identifiable information from you. This information may include your full name, date of birth, address, email address, telephone number, and credit/debit card number(s).  Any and all credit/debit card number(s) are immediately sent to our payment processor, and only the last four (4) digits are stored on our servers.
 </p><br/>

<p>
Examples of non-personally-identifiable information we may collect from you include your IP address, the type of browser software you use when visiting our Web site and/or accessing the Services, the date and time you visit our Web site and/or Services and what pages you viewed when visiting our Web site and/or utilizing the Services. </p><br/>

<p><b> <u>Use of Your Information and Your Preferences </u></b></p><br/>

<p>We will use your personally-identifiable information to send Users confirmation of transactions and receipts; complete your registration for the Web site and/or the Services; personalize your user experience; improve our customer service; contact you via email or direct mail in order to send you information and updates pertaining to your use of the Web site and/or the Services; respond to inquiries and/or questions you send to us; and to send company news, updates, and other related information; to process transactions.  </p><br/>

<p> <b><u>How to Opt-Out</u></b></p><br/>

<p>If you no longer wish to receive marketing information, press releases or any other type of information from us, you may send us an email at info@bluearchpayments.com to change your preferences or follow the "unsubscribe" link provided in any email that you receive from us. </p><br/>

<p><b><u>Disclosures of your Information
</u></b> </p><br/>










<p> Your information may be used by BlueArch for the purposes provided for herein as well as to process any transaction. As we operate as a merchant of record only your information, including your personally-identifiable information, may also be shared with the end-supplier of any product or service you purchase so that your transaction may be completed. We will never pass your personal data to anyone else, except for any successors to our business and the suppliers that process data on our behalf via our servers in the Denver, Colorado, United States.
</p><br/>


<p><b><u> Legal Disclaimer</u></b></p><br/>

<p>We reserve the right to disclose your personally-identifiable information as required by law and when believe it is necessary to share information in order to investigate, prevent, </p><br/>

<p> or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of BlueArch terms of use, or as otherwise required by law.
</p><br/>
<p> <b><u>Other Web sites</u></b></p><br/>

<p>Our Web site and/or Services may contain links to other Web sites, which are outside our control and are not covered by this Privacy Policy. If you access other Web sites using the links provided, the operators of these Web sites may collect information from you, which will be used by them in accordance with their privacy policies, which may differ from ours.
 </p><br/>



<p><b><u>Cookies</u></b> </p><br/>




<p>We do not utilize Cookies or Web beacons at this time. </p><br/>
<p><b><u>Access to and/or Modification of Your Information</u></b> </p><br/>

<p> If you access the Web site or otherwise access the Services and volunteer personally-identifiable information, you may modify, update or delete such information by sending us an email at info@bluearchpayments.com. You should be aware, however, that it is not always possible to completely remove or modify information in our databases. In addition, please be aware that your ability to opt out from receiving marketing and promotional materials does not change our right to contact you regarding your use of the Services.</p><br/>



<p><b><u>Privacy Protection for Children Using the Internet</u></b> </p><br/>


<p> Protecting children's privacy is important to us. For that reason, we do not collect or maintain information on the Web site or otherwise provide Services to those persons we actually know are under the age of thirteen (13) nor is any part of the Web site or Services targeted to attract anyone under the age of thirteen (13). We request that all users of the Web site and/or Services who are under the age of thirteen (13) not disclose or provide any personally-identifiable information. If we discover that a child under thirteen (13) has provided us with personally-identifiable information, we will delete that child's personally-identifiable information from our records.
</p><br/>

<p><b><u>Data Security </u></b></p><br/>

<p> We take reasonable steps to maintain the security of the personally-identifiable information that we collect, including utilizing SSL certificates for data encryption; however, no data transmission over the Internet can be guaranteed to be completely secure. Accordingly, we cannot ensure or warrant the security of any information that you transmit to us, so you do so at your own risk. Please note, that non-encrypted communication using email is not secure. Thus, we cannot guarantee data security in email communication and, therefore, recommend using physical mail for confidential information.</p><br/>

<p> <b><u>  International Transfer     </u></b></p><br/>

<p>We operate globally so it is necessary to transfer your information internationally. In particular, your information will likely be transferred to and processed in the United States where many of our central databases operate. The data protection and other laws of other countries may not be as comprehensive as those in your country. Please be assured that we take reasonable steps to ensure that your privacy is protected. By accessing our Web site or otherwise using our Services you consent to your information being collected, used and transferred as set forth in this Privacy Policy.
 </p><br/>


<p> <b><u> How to Contact Us      </u></b></p><br/>

<p> If you have any questions or concerns about our Privacy Policy or its implementation you may contact us at info@bluearchpayments.com</p><br/>


<p> <b><u>   Updates & Effective Date    </u></b></p><br/>

<p> The effective date of this Privacy Policy is this 1st day of August, 2015. From time-to-time, we may update this Privacy Policy. We will notify you about material changes in the way we treat personally-identifiable information by posting a notice of said changes online to the Web site and by notifying users of the Services via email. We encourage you to periodically check back and review this statement so that you always will know what information we collect, how we use it, and with whom we share it.
</p><br/>

<br/>

            </div>
          </section>

        </div>
      </div>
    </div>
    <!--End main-container -->

  </div>
