<div class="page">   
  <!-- Breadcrumbs -->
  <!-- main-container -->
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-12 wow bounceInUp animated">
          <div class="page-title">
            <h2>Secure Shoping</h2>
          </div>
          <div class="static-contain">


            <p>
             we are committed to ensure 100% Purchase Protection through A-to-Z Guarantee for the shopping done on bluearchstore.com<br />
             
           </p>
         </div>
       </section>
       
     </div>
   </div>
 </div>
 <!--End main-container --> 

</div>
