<div class="page">
	<!-- Breadcrumbs -->
	<!-- main-container -->
	<div class="main-container col2-right-layout">
		<div class="main container">
			<div class="row">
				<section class="col-main col-sm-12 wow bounceInUp animated">
					<div class="page-title">
						<center><h2> BUYER TERMS AND CONDITIONS  </h2></center><br/>
						<center><h2> BLUEARCH PAYMENTS, LLC  </h2></center>
					</div>
					<div class="static-contain" style="text-align: justify; width: 65%; position: relative; left: 200px;">

						<h5>
Thank you for visiting the Web site and/or using the BlueArch Merchant Platform provided by BlueArch Payments, LLC, a New Jersey limited liability company with a principal place of business located at 525 Route 73 North Suite 104, Marlton, New Jersey  08053.
							<br><br>




	<center><p><b><u> SECTION I: DEFINITIONS, AGREEMENT TO BE BOUND</u></b></p>	</center><br/>

<p><b><u>Definitions.</u></b></p>


<p>References to “Dispute” mean any claim, conflict, controversy, disagreement between the Parties arising out of, or related in any way to, this Agreement (or any agreement, supplement or amendment contemplated by this Agreement,) including, without limitation, any action in tort, contract or otherwise, at equity or at law, or any alleged breach, including, without limitation, any matter with respect to the meaning, effect, validity, performance, termination, interpretation or enforcement of this Agreement or any agreement contemplated by the Agreement. </p> <br/>

<p>References to “BlueArch Merchant Platform” mean the system owned and operated by Merchant of Record to sell electronic software Products and/or services designed, developed, and/or manufactured by our Suppliers and includes BlueArch intellectual property rights, which shall mean all title, interest and benefit of all registered and unregistered worldwide trademarks, trade or brand names, service works or marks, other proprietary indicia, logos, symbols and/or brand names (collectively, the “Marks”), proprietary public relations and Buyer support systems, marketing, system integration and educational tools, copyrights, copyright applications, designs, inventions, patents, patent application, patent rights, trade secrets, licenses, sub-licenses, franchises, formulae, processes, instruction manuals, developer’s guides, integration guides, pricing, taxation and regulatory know-how and strategies, virtual currency tools, Supplier Reporting System, technology, business methods, whether patented or not, and computer rights (hereafter “Intellectual Property” or “BlueArch Merchant Platform.”)
 </p> <br/>

<p>References to a “Product” mean any and all electronic software Products and/or services designed, developed, manufactured and/or distributed by a Supplier. </p> <br/>

<p> References to the “Services” mean any and all services offered by Merchant of Record   via the BlueArch Merchant Platform, including but not limited to the sale of Supplier electronic software Products and/or services.
</p> <br/>

<p>References to “Supplier” mean a designer, developer, manufacturer and/or distributor of electronic software Products and services.
 </p> <br/>

<p>References to “we,” “our,” “us,” and Merchant of Record mean BlueArch Payments, LLC.
 </p> <br/>

<p>References to the “Web site” mean the Web site bearing the URL <a href='http://www.bluearchstore.com'><strong>http://www.bluearchstore.com</strong></a>.
 </p> <br/>

<p> References to “you,” “your,” “user,” and/or “Buyer” mean the user of the Web site and/or the end-user, subscriber, purchaser, or other natural person or entity that purchases from Merchant of Record, via the BlueArch Merchant Platform, electronic software Products and/or services designed, developed, and/or otherwise manufactured by Supplier who is an Approved Supplier hereunder.
</p> <br/>






<p><b><u>1.2. About Us.</u></b> </p> <br/>




<p>
We are a Merchant of Record and offer merchant services for the sale of electronic software Products and services on behalf of our Suppliers via our BlueArch Merchant Platform.</p>

<p><b><u>1.3. Agreement to be Bound.</u></b> </p> <br/>

<p>
The following conditions, together with the relevant information set out on our Web site and/or the BlueArch Merchant Platform, including any features and services available, such as RSS feeds, podcasts, images, video and products and Materials found on the this Web site the BlueArch Merchant Platform are subject to the Terms and Conditions set forth below. Please read them carefully as any use of this Web site and/or the BlueArch Merchant Platform constitutes an agreement, without acceptance, to be bound thereby by the user. By using this Web site and/or the BlueArch Merchant Platform you represent that you have read and understand the Terms and Conditions and that you agree to be bound by these Terms and Conditions as set forth below. You further represent that you are eighteen (18) years of age or older and have the capacity to enter into such a legally-binding contract, or, in the alternative, are at least sixteen (16) years of age and have the express permission of a parent and/or legal guardian.</p><br/>


<p>These Terms and Conditions are subject to the Privacy Policy, which also governs your use of the Web site and/or the BlueArch Merchant Platform. </p><br/>


<p><b><u>1.4. Modifications and Changes to Terms and Conditions.</u></b></p>

<p>We may modify, add to, suspend or delete the Terms and Conditions or other agreements, in whole or in part, at our sole discretion at any time, with such modifications, additions or deletions being immediately effective upon their posting to the Web site. Your use of the Web site and/or the BlueArch Merchant after modification, addition or deletion of the Terms and Conditions shall be deemed to constitute acceptance by you of the modification, addition or deletion.


<p><b><u>1.5. Modifications and Changes to the Web Site and/or the BlueArch Merchant Platform.</u></b></p>


<p>We may modify, add to, suspend, or delete any aspect of this Web site and/or the BlueArch Merchant Platform offered by us, in whole or in part, at our sole discretion at any time, with such modifications, additions or deletions being immediately effective. Such modifications, additions or deletions may include but are not limited to content offered, hours of availability, and equipment needed for access or use. </p><br/>


<p> <b><u>1.6. Prohibited Use of the Web site and/or the BlueArch Merchant Platform.</u></b></p><br/>

<p>In addition to other prohibitions as set forth in these Terms and Conditions, you are prohibited from using the Web site and/or the BlueArch Merchant Platform: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Web site and/or the BlueArch Merchant Platform, or of any related Web site, other Web sites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the BlueArch Merchant Platform the Web site, other Webs sites, or the Internet. We reserve the right to terminate your use of the Web site and/or the BlueArch Merchant Platform for violating any of the prohibited uses or for any other reason at our sole and exclusive decision.
</p><br/>







<p>You agree further that you shall use the Web site and/or the BlueArch Merchant Platform for personal purposes and not for commercial purposes.</p>
<br/>

<p><b><u>1.7. Accuracy, Completeness and Timeliness of Information.</u></b></p>
<br/>

<p>
We are not responsible if information made available on the Web site and/or the BlueArch Merchant Platform is not accurate, complete or current. You acknowledge that the Web site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information.
</p><br/>


<center></center><p><b><u>SECTION II: ACCOUNTS</u></b></p></center>



<p><b><u>  2.1. Online Accounts.    </u></b></p>
<br/>

<p>You may be given the opportunity to register via an online registration form to create a user account, (hereinafter your “Account,”) that may allow you to receive information from us and/or to participate in certain features on and/or make purchases from the Web site and/or the BlueArch Merchant Platform. We will use the information you provide in accordance with our Privacy Policy. By registering with us, you represent and warrant that all information you provide on the registration form is current, complete and accurate to the best of your knowledge. You agree to maintain and promptly update your registration information on the Web site and/or the BlueArch Merchant Platform so that it remains current, complete and accurate. During the registration process, you may be required to choose a password. You acknowledge and agree that we may rely on this password to identify you. You are responsible for all use of your Account, regardless of whether you authorized such access or use, and for ensuring that all use of your Account complies fully with the provisions of these Terms and Conditions.
 </p><br/>





<p><b><u> 2.2. Multiple Accounts Prohibited.     </u></b></p>
<br/>

<p> You agree you shall not have no more than one (1) Account and shall not sell, trade or transfer that account to any other person or entity.
</p><br/>




<center></center><p><b><u>SECTION III: TERMS OF PURCHASE</u></b></p></center>



<p><b><u>  3.1. Product and service Disputes.   </u></b></p>
<br/>

<p>   Buyer acknowledges that any dispute, regarding any Product and/or service sold by Merchant of Record to a Buyer on behalf of Supplier shall be between the Supplier and Buyer alone, and Merchant of Record shall not be a Party to any dispute between the Supplier, its Buyers or any Third Party. This refers in particular to performance and to liability in respect of claims relating to the use of the Products or services designed, developed, manufactured and/or distributed by Supplier.   </p><br/>




<p><b><u> 3.2. Sale Price.    </u></b></p>
<br/>

<p>  Subject to discounts and promotions, Products and services are offered for sale at a fixed price. Value-Added Tax (VAT) may be due and will be either included in the price or shown separately. If not shown, it will not be charged.    </p><br/>



<p><b><u> 3.3. No Implied Right.    </u></b></p>
<br/>

<p>   Every sale will be subject to the laws applicable but there shall not be implied any right which is not a legal right and which is not set down in this document.   </p><br/>



<p><b><u>  3.4. Delivery.    </u></b></p>
<br/>

<p>   As the nature of the sale and purchase of the Products and services is online, delivery of all Products and services shall be made immediately upon receipt of payment or as otherwise negotiated and agreed to between a User and the Supplier.
   </p><br/>



<p><b><u> 3.5. Purchase Code.    </u></b></p>
<br/>

<p>    In order to ensure all purchases are made with the full consent of the User and Supplier both purchases will only be processed with a unique transaction purchase code, which may be obtained directly from the Supplier.
  </p><br/>





<center></center><p><b><u>SECTION IV: FEES, TERMS OF PAYMENT, REFUND/EXCHANGE/CANCELLATION</u></b></p></center>



<p><b><u> 4.1. Service Fees.    </u></b></p>
<br/>

<p> There is no Service Fee charged to Buyers for using our Services, Web site and/or the BlueArch Merchant Platform.   </p><br/>


<p><b><u>  4.2. Payment for Products and/or Services of our Supplier.   </u></b></p>
<br/>

<p> Payment for all Product purchases and/or purchases of services supplied by our Suppliers shall be due and owing upon purchase. Payment may be made via the BlueArch Merchant Platform using a credit/debit card and shall be processed immediately.</p>

<p>The prices and the terms of payment for all Products and services are displayed at all times on the Web site and/or the BlueArch Merchant Platform, including at the point of purchase.
  </p><br/>


<p><b><u>   4.3. Refund; Exchange; Waiver of Consumer Rights.  </u></b></p>
<br/>

<p>  Unless otherwise noted all sales of Products and/or services shall be final and shall not subject to refund or exchange due to the nature of the Product and/or service. As such, you expressly agree to waive any and all claims for refund under European Union consumer rights provisions as defined in the Consumer Protection (Distance Selling) Regulations 2000.
 </p><br/>


<p><b><u> 4.4. Cancellation.    </u></b></p>
<br/>

<p> Should you wish to cancel any order prior to payment therefor you may do so in the sole and exclusive discretion of the Supplier by contacting the Supplier directly. No refund, whole or partial, shall be given for any cancellation after completed purchase for any reason whatsoever unless as set forth herein.
  </p><br/>


<p><b><u>  4.5. Right of Refusal, Limitation, Change and Discontinuation.   </u></b></p>
<br/>

<p> We reserve the right to refuse to provide any access to the Web site and/or the BlueArch Merchant Platform to anyone for any reason at any time at our sole discretion without recourse to you. We may, in our sole discretion, limit or cancel Services, Products and/or materials purchased per person, per entity, per household or per order. These restrictions may include orders placed by or under the same customer Account, the same credit card, and/or orders that use the same billing address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made. </p>

<p>Any offer for the sale of any and all Products and services made available through the Web site and/or the BlueArch Merchant Platform is void where prohibited.

  </p><br/>




<center></center><p><b><u>SECTION V: INTELLECTUAL PROPERTY</u></b></p></center>

<p><b><u>  5.1. Intellectual Property Rights Not Waived.   </u></b></p>
<br/>

<p>All material displayed or transmitted on this Web site and the BlueArch Merchant Platform, including but not limited to text, photographs, images, illustrations, video clips, audio clips, and graphics, (hereinafter “Materials,”) are owned by us and are protected by Estonian and international copyright, trademarks, service marks, and other proprietary rights, laws and treaties.</p>

<p>Except as provided, you may not copy, reproduce, publish, transmit, transfer, sell, rent, modify, create derivative works from, distribute, repost, perform, display, or in any way commercially exploit the materials carried on this site, nor may you infringe upon any of the copyrights or other intellectual property rights contained in the materials found on this site. You may not remove or alter, nor cause to be removed or altered, any copyright, trademark, or other proprietary notices or visual marks and logos from the materials found on this site.  </p>


<p> You may make a single print copy of any of the materials found on this site provided by us on this Web site for personal, non-commercial use only, provided that you do not remove nor cause to be removed any copyright, trademarks, or other proprietary notices or visual marks or logos from the report or other material. You may not archive or retain any of the materials found on this Web site and/or the BlueArch Merchant Platform without our express written permission. All requests for archiving, republication or retention of any part of the materials found on this site must be in writing to us and must You may make a single print copy of any of the materials found on this site provided by us on this Web site for personal, non-commercial use only, provided that you do not remove nor cause to be removed any copyright, trademarks, or other proprietary notices or visual marks or logos from the report or other material. You may not archive or retain any of the materials found on this Web site and/or the BlueArch Merchant Platform without our express written permission. All requests for archiving, republication or retention of any part of the materials found on this site must be in writing to us and must clearly state the purpose and manner in which the material. Requests for permission to archive, retain, or republish any part of the materials found on this site may be submitted to support@bluearchpayments.com.
</p>


<p>You acquire no rights or license whatsoever in the materials found on this site other than the limited rights to use the site in accordance with these Terms and Conditions. Any of the materials found on this site accessed or downloaded from this site must be accessed or downloaded in accordance with the Terms and Conditions specified in this agreement. We reserve any rights not expressly granted under these Terms and Conditions.
</p>

 <br/>





<center><p><b><u>SECTION VI: ADVERTISEMENTS AND PROMOTIONS, THIRD-PARTY LINKS  </u></b></p></center>

<p><b><u> 6.1. Advertisements and Promotions.    </u></b></p>
<br/>

<p>We may, from time to time, run advertisements and promotions from Third Parties (e.g. vendors) on the Web site and/or the BlueArch Merchant Platform. Your business dealings or correspondence with, or participation in promotions of, advertisers other than us, and any terms, conditions, warranties or representations associated with such dealings, are solely between you and such Third-Party. We are not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of Third-Party promotions or advertisements on the Web site and/or the BlueArch Merchant Platform.  </p> <br/>



<p><b><u> 6.2. Links and Third-Party Links.    </u></b></p>
<br/>

<p> This Web site and/or the BlueArch Merchant Platform may, from time-to-time, contain links or pointers to Internet sites maintained by Third Parties (e.g. vendors.) We do not operate or control in any way any information, products or services on these Third-Party sites and we expressly disclaim any responsibility for such Third-Party sites, which are provided for your convenience on an "as is" basis without warranties of any kind, express or implied. </p> <br/>





<center><p><b><u>SECTION VII: DISCLAIMERS; LIMITATIONS OF LIABILITY; INDEMNIFICATION  </u></b></p></center>

<p><b><u> 7.1. Disclaimer of Warranty; Limitation of Liability.   </u></b></p>
<br/>


<p><b>(A) YOU EXPRESSLY AGREE THAT USE OF THE WEB SITE AND/OR THE BlueArch MERCHANT PLATFORM IS AT YOUR SOLE RISK. NEITHER MERCHANT OF RECORD NOR ANY RELATED SUBSIDIARY, ITS OTHER AFFILIATES NOR ANY RESPECTIVE EMPLOYEES, AGENTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS WARRANT THAT THE WEB SITE AND/OR BlueArch MERCHANT PLATFORM SHALL BE UNINTERRUPTED OR ERROR FREE; NOR DOES IT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE WEB SITE AND/OR BlueArch MERCHANT PLATFORM OR AS TO THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION PROVIDED.
</b> </p><br/>

<p><b>(B) ANY DOWNLOADABLE SOFTWARE, PRODUCTS, services OR OTHER MATERIALS, WITHOUT LIMITATION, IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF SupplierABILITY OR FITNESS FOR A PARTICULAR PURPOSE AGAINST INFRINGEMENT, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THESE TERMS AND CONDITIONS. </b></p><br/>

<p><b> (C) ALTHOUGH ALL INFORMATION AND MATERIALS CARRIED ON THE WEB SITE AND/OR BlueArch™ MERCHANT PLATFORM ARE BELIEVED TO BE RELIABLE, MERCHANT OF RECORD MAKES NO REPRESENTATIONS, NEITHER EXPRESSLY NOR IMPLIEDLY, AS TO THE ACCURACY, COMPLETENESS, TIMELINESS OR RELIABILITY OF THE WEB SITE AND/OR BlueArch MERCHANT PLATFORM.</b></p><br/>

<p><b> (D) IN NO EVENT SHALL MERCHANT OF RECORD, ITS EMPLOYEES, SUBSIDIARIES, PARENTS, AGENTS, PARTNERS, THIRD-PARTY CONTENT PROVIDERS, VENDORS, AND/OR THEIR RESPECTIVE DIRECTORS, OFFICERS, AND MEMBERS, BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSS OR DAMAGES WHATSOEVER, INCLUDING BUT NOT LIMITED TO ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, INCIDENTAL, PUNITIVE, OR OTHER DAMAGES, INCLUDING BUT NOT LIMITED TO EXEMPLARY, RELIANCE, OR CONSEQUENTIAL DAMAGES, LOSS OF PROFITS, BUSINESS INTERRUPTION, REPUTATIONAL HARM, OR LOSS OF INFORMATION OR DATA, ARISING OUT OF OR RELATED TO THE USE OF OR INABILITY TO USE THE WEB SITE AND/OR BlueArch MERCHANT PLATFORM AND/OR ANY PRODUCTS AND/OR SERVICES BOUGHT AND/OR SOLD THEREBY.</b></p><br/>

<p><b>(E) MERCHANT OF RECORD DISCLAIMS ANY AND ALL LIABILITY OF ANY KIND FOR ANY UNAUTHORIZED ACCESS TO OR USE OF BUYER’S PERSONALLY-IDENTIFIABLE INFORMATION. BY utilizing THE WEB SITE AND/OR BlueArch MERCHANT PLATFORM BUYER ACKNOWLEDGES AND AGREEs TO MERCHANT OF RECORD’S DISCLAIMER OF ANY SUCH LIABILITY. IF BUYER DOES NOT AGREE, BUYER SHOULD NOT ACCESS OR OTHERWISE Utilize THE WEB SITE AND/OR BlueArch MERCHANT PLATFORM. </b></p><br/>

<p><b> (F) BUYER releaseS Merchant of Record from AND AGAINST any and all claims and liability known and unknown, arising in any way from a dispute between Supplier and a buyer.
</b></p><br/>

<p><b> (G) your SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE web site and/or BlueArch MERCHANT PLATFORM OR ANY OTHER GRIEVANCE, SHALL be your TERMINATION of this agreement AND DISCONTINUATION OF ACCESS TO OR Utilization OF THE web site and/or BlueArch MERCHANT PLATFORM.
</b></p><br/>

<p><b>SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO CERTAIN USERS.
 </b></p><br/>

<p>The above limitations shall survive this Agreement and inure to the benefit of Merchant of Record and Merchant of Record’s affiliates and respective directors, officers, employees and agents.</p><br/>




<p><b><u> 7.2. Indemnification. </u></b></p>
<br/>


<p><b>You agree to defend, indemnify and hold us harmless, as well as our affiliates and respective directors, officers, employees and agents, from and against all claims and expenses, including attorneys' fees, arising out of or related to the use of the Web site and/or the BlueArch Merchant Platform; the Materials found on this Web site and/or the BlueArch Merchant Platform; and/or any Product and/or service bought and/or sold thereon by you. You further agree to defend, indemnify and hold us harmless, as well as our affiliates and respective directors, officers, employees and agents, from and against all claims and expenses, including attorneys’ fees for your breach of this Agreement or your violation of any law or the rights of a Third-Party.  </b></p>



<p><b><u> 7.3. No Warranty by Merchant of Record.  </u></b></p>
<br/>


<p><b>Except as specifically set forth in this Agreement, Merchant of Record makes no warranties, express or implied, as to any of Merchant of Record’s Services, the Web site, the BlueArch Merchant Platform, related products, services, software or documentation. Merchant of Record specifically disclaims any and all implied warranties, including but not limited to any implied warranties of Merchantability or fitness for a particular purpose of the electronic software Products and services sold on Supplier’s behalf. </b></p>





<center><p><b><u> SECTION VII: GOVERNING LAW; ARBITRATION </u></b></p></center>


<p><b><u>8.1. Governing Law.  </u></b></p>
<br/>


<p>This Agreement shall be governed and construed in accordance with the laws of New Jersey, without regard to its conflicts of law provisions. Supplier agrees to submit to the personal jurisdiction of the courts located in Burlington County, New Jersey, and any cause of action that relates to or arises from this Agreement, the Web site, and/or the BlueArch Merchant Platform must be filed therein unless subject to the binding arbitration provisions of Section 8.2, infra.
 </p>


<p><b><u>8.2. Arbitration.  </u></b></p>
<br/>


<p>
Supplier agrees that any dispute concerning, relating, or referring to this Agreement, the Web site, and/or the BlueArch Merchant Platform shall be resolved exclusively by binding arbitration in accordance with the substantive laws of New Jersey and the American Arbitration Association. The arbitrator and not any federal, state, or local court or agency shall have exclusive authority to resolve any dispute relating to the interpretation, applicability, enforceability, conscionability, or formation of this contract, including but not limited to any claim that all or any part of this contract is void or voidable. Nothing herein prevents either Party from seeking any interim injunction it deems necessary in order to preserve the status quo prior to the resolution of any dispute, in any jurisdiction.</p>


<p><b><u> 8.3. Attorneys’ Fees and Costs. </u></b></p>
<br/>


<p>In case suit, arbitration, or other legal action is instituted to interpret or enforce any of the provisions of this Agreement, the prevailing Party therein shall be awarded all reasonable and necessary fees for investigations, depositions, as well as fees for accountants and witnesses (expert or otherwise) reasonably incurred by that Party in connection with such suit or action, plus such sums as may be adjudged reasonable for that Party’s attorney fees incurred prior to and throughout such suit or action, including all hearings, trials, and appeals. </p>




<center><p><b><u> SECTION IX: MISCELLANEOUS </u></b></p></center>


<p><b><u> 9.1. Severability of Provisions. </u></b></p>
<br/>


<p>  If any provision of this agreement shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this agreement and shall not affect the validity and enforceability of any remaining provisions. Any remaining provisions shall be given effect to the fullest extent possible.    </p> <br/>


    <p><b><u>9.2. Entire Agreement. </u></b></p>
<br/>


<p>  This constitutes the entire agreement between the parties concerning the Buyer Terms and Conditions of this Web site and/or the BlueArch Merchant Platform unless otherwise specified.    </p> <br/>


<p><b><u>9.3. Contact Information. </u></b></p>
<br/>


<p>   If you have any questions or concerns about these Buyer Terms and Conditions you may contact us at support@bluearchpayments.com.
   </p> <br/>


<p><b><u>9.4. Updates & Effective Date. </u></b></p>
<br/>


<p>      The effective date of this policy is this 1st day of August, 2015. From time to time, we may update these Buyer Terms and Conditions. We will notify you about material changes in the Terms and Conditions by posting a notice of said changes online to the Web site and by notifying Users via email. We encourage you to periodically check back and review this statement so that you always will know what information we collect, how we use it, and with whom we share it.
</p> <br/>

						</h5>
					</div>
				</section>

			</div>
		</div>
	</div>
	<!--End main-container -->

</div>
