<div class="page">
  <section class="main-container col1-layout">
    <div class="main container">
    <% if @user_products.present? %>
    <div class="content">
      <div id='all_items'>
        <%= render :partial => 'all_items'%>
      </div>
    </div>
    <% else %>
    	<div class="col-sm-6"><b>There are no items in this cart.</b></div> 
      <img alt="Cart" src="/assets/cart2.png" height="30.3%" width="30.3%">
    <% end %>
    </div>
  </section>
</div>

