<div class="page">
  <section class="main-container col1-layout">
    <div class="main container">

    <div class="content">
      <div id='all_items'>
        <%= render :partial => 'all_items'%>
      </div>
    </div>

    </div>
  </section>
</div>

