<!-- Slider -->
  

  <div id="magik-slideshow" class="magik-slideshow">
    <div class="container">
      <div class="row">
      <% @back_images = BannerImage.all %>
        <div class="col-sm-12 wow bounceInRight animated">
          <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider"> 
          <% for image in @back_images %>
            <img src="<%= image.image.url(:original) %>" width='1170' height="460" data-transition="slideInLeft" />
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>





   <!-- End Slider -->