<footer class="footer bounceInUp animated">
    <%= yield :email_alert %>

    <div class="footer-middle">
      <div class="col-md-3 col-sm-4">
        <div class="footer-logo"><a href="index.html" title="Logo"><img src="/assets/bluearc.png" alt="logo"></a></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam arcu. </p>
        <div class="payment-accept">
          <div><img src="/assets/dashboards/images/payment-1.png" alt="payment"> <img src="/assets/dashboards/images/payment-2.png" alt="payment"> <img src="/assets/dashboards/images/payment-3.png" alt="payment"> <img src="/assets/dashboards/images/payment-4.png" alt="payment"></div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Information</h4>
        <ul class="links">
          <li class="first"><a href="/about_us" title="How to buy">About Us</a></li>
          <li><a href="/delivery_information" title="FAQs">Delivery Information</a></li>
          <li><a href="/privacy_policy" title="Payment">Privacy Policy</a></li>
          <li><a href="/terms_conditions" title="Shipment&lt;/a&gt;">Terms & Conditions</a></li>
          <li><a href="/legal_disclaimer" title="Where is my order?">Legal disclaimer</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Customer Services</h4>
        <ul class="links">
          <li class="first"><a title="Your Account" href="/contacts/new">Contact Us</a></li>
          <li><a title="Addresses" href="/cancel_refund_policy">Refund Policy</a></li>
          <li><a title="Addresses" href="/secure_shopping">Secure Shopping</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>My Account</h4>
        <ul class="links">
          <li class="first"><a href="/order_history" title="Site Map">Order History</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4>Contact us</h4>
        <div class="contacts-info">
          <address>
          <i class="add-icon">&nbsp;</i>123 Main Street, Anytown, <br>
          &nbsp;CA 12345  USA
          </address>
          <div class="phone-footer"><i class="phone-icon">&nbsp;</i> +1 800 123 1234</div>
          <div class="email-footer"><i class="email-icon"></i> <a href="#">support@magikcommerce.com</a> </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="col-sm-5 col-xs-12 coppyright">&copy; 2015 Magikcommerce. All Rights Reserved.</div>
      <div class="col-sm-7 col-xs-12 company-links">
        <ul class="links">
          <li><a href="#" title="Magento Themes">Magento Themes</a></li>
          <li><a href="#" title="Premium Themes">Premium Themes</a></li>
          <li><a href="#" title="Responsive Themes">Responsive Themes</a></li>
          <li class="last"><a href="#" title="Magento Extensions">Magento Extensions</a></li>
        </ul>
      </div>
    </div>
  </footer>