<div class="magik-slideshow" id="magik-slideshow">
    <div class="container">
      <div class="row">
        <div class="LHS-nav col-lg-3 col-md-4">
          <div id="magik-verticalmenu" class="block magik-verticalmenu">
            <div class="nav-title"> <span>Categories</span> </div>
            <div class="nav-content">
              <div class="navbar navbar-inverse">
                <div id="verticalmenu" class="verticalmenu" role="navigation">
                  <div class="navbar">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav verticalmenu">
                        <li class=" parent dropdown "> <a href="#/computer-parts.html" class="dropdown-toggle" data-toggle="dropdown"><span class="menu-title">Women</span><b class="round-arrow"></b></a>
                          <div class="dropdown-menu" style="width:580px">
                            <div class="dropdown-menu-inner">
                              <div class="row">
                                <div class="mega-col col-sm-66" data-widgets="wid-5" data-colwidth="6">
                                  <div class="mega-col-inner">
                                    <div class="ves-widget">
                                      <div class="menu-title">Styliest Bag </div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#evening-tops.html"> <span>Clutch Handbags</span> </a> </li>
                                            <li> <a href="#shirts-blouses.html"> <span>Diaper Bags</span> </a> </li>
                                            <li> <a href="#shirts-blouses.html"> <span>Bags</span> </a> </li>
                                            <li class="last"> <a href="#vests.html"> <span>Hobo Handbags</span> </a> </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66" data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Material Bag</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#bags.html"> <span>Beaded Handbags</span> </a> </li>
                                            <li> <a href="#designer-handbags.html"> <span>Fabric Handbags</span> </a> </li>
                                            <li> <a href="#designer-handbags.html"> <span>Handbags</span> </a> </li>
                                            <li class="last"> <a href="#shoulder-bags.html"> <span>Leather Handbags</span> </a> </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66" data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Designer Bag</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#flat-shoes.html"> <span>Flat Shoes</span> </a> </li>
                                            <li> <a href="#flat-sandals.html"> <span>Flat Sandals</span> </a> </li>
                                            <li> <a href="#boots.html"> <span>Boots</span> </a> </li>
                                            <li class="last"> <a href="#heels.html"> <span>Heels</span> </a> </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Cotton Bag</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#bracelets.html"> <span>Bracelets</span> </a> </li>
                                            <li> <a href="#necklaces-pendants.html"> <span>Necklaces &amp; Pendants</span> </a> </li>
                                            <li> <a href="#necklaces-pendants.html"> <span>Pendants</span> </a> </li>
                                            <li class="last"> <a href="#pins-brooches.html"> <span>Pins &amp; Brooches</span> </a> </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="cat_img"><div class="left-cat-img"><img src="/assets/dashboards/images/women_jwellery.png" alt="img">
                              <div>Lorem Ipsum is simply dummy text of the printing</div></div>
                            <div class="left-cat-img1"><img src="/assets/dashboards/images/women_bag.png" alt="img">
                              <div>Lorem Ipsum is simply dummy text of the printing</div>
                              </div> </div>
                          </div>
                        </li>
                        <li class="parent dropdown "> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="menu-title">Men</span><b class="round-arrow"></b></a>
                          <div class="dropdown-menu" style="width:620px">
                            <div class="dropdown-menu-inner">
                              <div class="row">
                                <div class="mega-col col-sm-66 " data-widgets="wid-5" data-colwidth="6">
                                  <div class="mega-col-inner">
                                    <div class="ves-widget">
                                      <div class="menu-title">Shoes</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Sport Shoes</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Casual Shoes</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Leather Shoes</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Canvas shoes</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66" data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Dresses</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Casual Dresses</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Evening</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Designer</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Party</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Jackets</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Coats</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Formal Jackets</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Leather Jackets</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Blazers</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Watches</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Fasttrack</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Casio</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Titan</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Tommy-Hilfiger</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="parent dropdown "> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="menu-title">Electronics</span><b class="round-arrow"></b></a>
                          <div class="dropdown-menu" style="width:580px">
                            <div class="dropdown-menu-inner">
                              <div class="row">
                                <div class="mega-col col-sm-66 " data-widgets="wid-5" data-colwidth="6">
                                  <div class="mega-col-inner">
                                    <div class="ves-widget">
                                      <div class="menu-title">Mobiles </div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Samsung</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Nokia</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>iPhone</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Sony</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Mobiles Accesories</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Mobile Memory Cards</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Cases &amp; Covers</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Mobile Headphones</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Bluetooth Headsets</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Cameras</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Camcorders</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Point &amp; Shoot</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Digital SLR</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Camera Accesories</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Audio & Video</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>MP3 Players</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>IPods</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Speakers</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Video Players</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="parent dropdown "> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="menu-title">Furniture</span><b class="round-arrow"></b></a>
                          <div class="dropdown-menu" style="width:580px">
                            <div class="dropdown-menu-inner">
                              <div class="row">
                                <div class="mega-col col-sm-66 " data-widgets="wid-5" data-colwidth="6">
                                  <div class="mega-col-inner">
                                    <div class="ves-widget">
                                      <div class="menu-title">Living Room </div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Racks &amp; Cabinets</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Sofas</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Chairs</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Tables</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Dining & Bar</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Dining Table Sets</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Serving Trolleys</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Bar Counters</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Dining Cabinets</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-66 " data-colwidth="6" data-widgets="wid-7">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="menu-title">Bedroom</div>
                                      <div class="widget-html">
                                        <div class="widget-inner">
                                          <ul>
                                            <li class="first"> <a href="#"><span>Beds</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Chest of Drawers</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li> <a href="#"><span>Wardrobes &amp; Almirahs</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                            <li class="last"> <a href="#"><span>Nightstands</span></a> </li>
                                            <!--level2 nav-6-1-1-->
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div data-widgets="wid-8" data-colwidth="6" class="mega-col col-sm-66 ">
                                  <div class="mega-col-inner">
                                    <div id="wid-8" class="magik-widget"> 
                                      <!-- <div class="menu-title">Demo Images</div> -->
                                      <div class="widget-image">
                                        <div class="widget-inner clearfix">
                                          <div><img title="" alt="" src="#"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class=""> <a href="#"><span class="menu-title"> Boys</span></a></li>
                        <li class=""> <a href="#"><span class="menu-title">Girls</span></a></li>
                        <li class=" parent dropdown "> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="menu-title">Custom</span><b class="round-arrow"></b></a>
                          <div class="dropdown-menu" style="width:520px">
                            <div class="dropdown-menu-inner">
                              <div class="row">
                                <div class="mega-col col-sm-88 " data-widgets="wid-1" data-colwidth="8">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="product-block">
                                        <div class="image"><a href="#"><img src="/assets/dashboards/images/custom-img1.jpg" alt="Fauxwaii Shirt - Oldss" width="240"></a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-88 " data-widgets="wid-2" data-colwidth="8">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="widget-product">
                                        <div class="widget-inner">
                                          <div class="product-block">
                                            <div class="image"><a href="#"><img src="/assets/dashboards/images/custom-img2.jpg" alt="Framed-Sleeve Mid" width="240"></a></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="mega-col col-sm-88 " data-widgets="wid-1" data-colwidth="8">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="product-block">
                                        <div class="image"><a href="#"><img src="/assets/dashboards/images/custom-img3.jpg" alt="Fauxwaii Shirt - Oldss" width="240"></a></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mega-col col-sm-88 " data-widgets="wid-2" data-colwidth="8">
                                  <div class="mega-col-inner">
                                    <div class="magik-widget">
                                      <div class="widget-product">
                                        <div class="widget-inner">
                                          <div class="product-block">
                                            <div class="image"><a href="#"><img src="/assets/dashboards/images/custom-img4.jpg" alt="Framed-Sleeve Mid" width="240"></a></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 bounceInUp animated">
          <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
            <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
              <ul>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/assets/dashboards/images/index-2-img/slide-img2.jpg' class="black-text"><img src='/assets/dashboards/images/index-2-img/slide-img2.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"  />
                  <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='45'  data-y='30'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'>Women Sale</div>
                  <div    class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='45'  data-y='70'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Go Lightly</div>
                  <div    class='tp-caption sfb  tp-resizeme ' data-x='45'  data-y='360'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="view-more">View More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                  <div    class='tp-caption Title sft  tp-resizeme ' data-x='45'  data-y='150'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>In augue urna, nunc, tincidunt, augue,<br>
                    augue facilisis facilisis.</div>
                  <div    class='tp-caption Title sft  tp-resizeme ' data-x='45'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;font-size:11px'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='#'><img src='/assets/dashboards/images/index-2-img/slide-img1.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner1"  />
                  <div    class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='45'  data-y='30'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'>Exclusive of designer</div>
                  <div    class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='45'  data-y='70'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Handbags & Purses</div>
                  <div    class='tp-caption sfb  tp-resizeme ' data-x='45'  data-y='360'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="view-more">View More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                  <div    class='tp-caption Title sft  tp-resizeme ' data-x='45'  data-y='150'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>In augue urna, nunc, tincidunt, augue,<br>
                    augue facilisis facilisis.</div>
                  <div    class='tp-caption Title sft  tp-resizeme ' data-x='45'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;font-size:11px'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </li>
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
         
        </div>
        <aside class="col-xs-12 col-sm-12 col-md-3 wow bounceInLeft animated animated" style="visibility: visible;">
          <div class="RHS-banner">
            <div class="add"><a href="#"><img alt="banner-img" src="/assets/dashboards/images/index-2-img/RHS-b1.png"></a></div>
            <div class="add"><a href="#"><img alt="banner-img" src="/assets/dashboards/images/index-2-img/RHS-b2.png"></a></div>
          </div>
        </aside>
      </div>
    </div>
  </div>